{erl_opts, [debug_info,
	    {parse_transform, lager_transform}]}.
{deps, [{zole, {git, "https://github.com/maruks/erl-zole.git"}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.7.1"}}}]}.